<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h2>Add Expense</h2>

    <form action="/expenses/add" method="POST">

        <div class="mb-3">
            <label>Expense Name</label>
            <input type="text" name="expense_name" class="form-control">
        </div>

        <div class="mb-3">
            <label>Amount</label>
            <input type="number" name="amount" class="form-control">
        </div>

        <div class="mb-3">
            <label>Date</label>
            <input type="date" name="expense_date" class="form-control">
        </div>

        <button class="btn btn-danger">
            Save Expense
        </button>

    </form>

</div>

</body>
</html> 