<!DOCTYPE html>
<html>
<head>

    <title>Admin Panel</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="admin-navbar">

    <div class="logo">
        Admin Panel
    </div>

    <div class="admin-links">

        <a href="/dashboard">Dashboard</a>
        <a href="/children">Children</a>
        <a href="/staff">Staff</a>
        <a href="/donations">Donations</a>
        <a href="/expenses">Expenses</a>
        <a href="/">User Site</a>

    </div>

</div>

<div class="container">