<%- include('../partials/header') %>

<div class="container">

    <div class="card">
        <h1>About Our Orphanage</h1>

        <p>
            We care for children and provide shelter, food, education, and a safe environment.
            Our mission is to help every child build a better future.
        </p>

    </div>

</div>

<%- include('../partials/footer') %>